<!--EXTEND FROM BASE @ ./base.html-->
{% extends "base.html" %}
{% block content %}

<!--CONTENT GOES HERE-->
<p>This is where your index.html picks up</p>

<h5>DISCLAIMER:</h5>
<pre>
    The license below is merely a guideline. 
    This is just a template. 
    I don't have any control over how you choose to use this, nor do I want to have that control. 
    All I ask is that if you are able, pass on helpful advice (be that comments, edits to the template, etc) to help others learn and grow.
    We all started somewhere.
</pre>

<h5>Some helpful links to help you get started:</h5>
<ul>
    <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
    <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN Docs</a></li>
    <li><a href="https://www.w3schools.com/html/" target="_blank">W3Schools</a></li>
    <li><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask Docs</a></li>
    <li><a href="https://www.python.org/" target="_blank">Python</a></li>
</ul>

{% endblock %}